<%= form_with(model: admin_article, local: true) do |form| %>
  <% if admin_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_article.errors.count, "error") %> prohibited this admin_article from being saved:</h2>

      <ul>
        <% admin_article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :feature %>
    <%= form.text_field :feature %>
  </div>

  <div class="field">
    <%= form.label :admin_category_id %>
    <%= form.text_field :admin_category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
