<p id="notice"><%= notice %></p>

<h1>Admin Articles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Feature</th>
      <th>Admin category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_articles.each do |admin_article| %>
      <tr>
        <td><%= admin_article.name %></td>
        <td><%= admin_article.description %></td>
        <td><%= admin_article.price %></td>
        <td><%= admin_article.feature %></td>
        <td><%= admin_article.admin_category_id %></td>
        <td><%= link_to 'Show', admin_article %></td>
        <td><%= link_to 'Edit', edit_admin_article_path(admin_article) %></td>
        <td><%= link_to 'Destroy', admin_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Article', new_admin_article_path %>
