<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_article.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_article.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @admin_article.price %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @admin_article.feature %>
</p>

<p>
  <strong>Admin category:</strong>
  <%= @admin_article.admin_category_id %>
</p>

<%= link_to 'Edit', edit_admin_article_path(@admin_article) %> |
<%= link_to 'Back', admin_articles_path %>
