<%= form_with(model: admin_kind, local: true) do |form| %>
  <% if admin_kind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_kind.errors.count, "error") %> prohibited this admin_kind from being saved:</h2>

      <ul>
        <% admin_kind.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :admin_thematic_id %>
    <%= form.text_field :admin_thematic_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
