<p id="notice"><%= notice %></p>

<h1>Admin Kinds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Admin thematic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_kinds.each do |admin_kind| %>
      <tr>
        <td><%= admin_kind.name %></td>
        <td><%= admin_kind.admin_thematic_id %></td>
        <td><%= link_to 'Show', admin_kind %></td>
        <td><%= link_to 'Edit', edit_admin_kind_path(admin_kind) %></td>
        <td><%= link_to 'Destroy', admin_kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Kind', new_admin_kind_path %>
