<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_kind.name %>
</p>

<p>
  <strong>Admin thematic:</strong>
  <%= @admin_kind.admin_thematic_id %>
</p>

<%= link_to 'Edit', edit_admin_kind_path(@admin_kind) %> |
<%= link_to 'Back', admin_kinds_path %>
