<%= form_with(model: admin_thematic, local: true) do |form| %>
  <% if admin_thematic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_thematic.errors.count, "error") %> prohibited this admin_thematic from being saved:</h2>

      <ul>
        <% admin_thematic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
