<p id="notice"><%= notice %></p>

<h1>Admin Thematics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_thematics.each do |admin_thematic| %>
      <tr>
        <td><%= admin_thematic.name %></td>
        <td><%= link_to 'Edit', edit_admin_thematic_path(admin_thematic) %></td>
        <td><%= link_to 'Destroy', admin_thematic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Thematic', new_admin_thematic_path %>
