<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_thematic.name %>
</p>

<%= link_to 'Edit', edit_admin_thematic_path(@admin_thematic) %> |
<%= link_to 'Back', admin_thematics_path %>
